@model IEnumerable<_23_02_2025.Models.Product>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container mt-5">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Img" class="card-img-top" alt="Product Image">
                    <div class="card-body text-center">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text text-muted price">@item.ProductDescription</p>
                        <h4 class="card-title">@item.Price</h4>

                        <a asp-controller="Product" asp-action="Detalies" asp-route-id="@item.Id" class="btn btn-primary">View details</a>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

